<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.mall.product.mapper.ProductCommentPhotoMapper">

    <resultMap type="cn.net.mall.product.entity.ProductCommentPhotoEntity" id="ProductCommentPhotoResult">
        <result property="id" column="id"/>
        <result property="commentId" column="comment_id"/>
        <result property="productId" column="product_id"/>
        <result property="url" column="url"/>
        <result property="sort" column="sort"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
    </resultMap>

    <sql id="paginationSql">
        <if test="pageNo > 0">
            LIMIT #{pageBegin} , #{pageSize}
        </if>
    </sql>

    <sql id="selectProductCommentPhotoColumn">
         id,
         comment_id,
         product_id,
         url,
         sort,
         create_user_id,
         create_user_name,
         create_time,
         update_user_id,
         update_user_name,
         update_time,
         is_del
    </sql>

    <sql id="queryWhere">
        <where>
            <if test="id != null ">
                AND id = #{id}
            </if>
            <if test="commentId != null ">
                AND comment_id = #{commentId}
            </if>
            <if test="commentIdList != null and commentIdList.size()>0">
                AND comment_id IN
                <foreach collection="commentIdList" item="cid" separator="," open="(" close=")">
                    #{cid}
                </foreach>
            </if>
            <if test="productId != null ">
                AND product_id = #{productId}
            </if>
            <if test="url != null  and url != ''">
                AND url = #{url}
            </if>
            <if test="sort != null ">
                AND sort = #{sort}
            </if>
            <if test="createUserId != null ">
                AND create_user_id = #{createUserId}
            </if>
            <if test="createUserName != null  and createUserName != ''">
                AND create_user_name = #{createUserName}
            </if>
            <if test="createTime != null ">
                AND create_time = #{createTime}
            </if>
            <if test="updateUserId != null ">
                AND update_user_id = #{updateUserId}
            </if>
            <if test="updateUserName != null  and updateUserName != ''">
                AND update_user_name = #{updateUserName}
            </if>
            <if test="updateTime != null ">
                AND update_time = #{updateTime}
            </if>
            <if test="isDel != null ">
                AND is_del = #{isDel}
            </if>
            AND is_del = 0
        </where>
    </sql>

    <select id="findById" parameterType="Long"
            resultMap="ProductCommentPhotoResult">
        SELECT
        <include refid="selectProductCommentPhotoColumn"/>
        FROM product_comment_photo
        WHERE id = #{id}
    </select>

    <select id="searchByCondition"
            parameterType="cn.net.mall.product.entity.ProductCommentPhotoConditionEntity"
            resultMap="ProductCommentPhotoResult">
        SELECT
        <include refid="selectProductCommentPhotoColumn"/>
        FROM product_comment_photo
        <include refid="queryWhere"/>
        <include refid="paginationSql"/>
    </select>

    <select id="searchCount"
            parameterType="cn.net.mall.product.entity.ProductCommentPhotoConditionEntity"
            resultType="int">
        SELECT
        COUNT(*)
        FROM product_comment_photo
        <include refid="queryWhere"/>
    </select>

    <update id="update" parameterType="cn.net.mall.product.entity.ProductCommentPhotoEntity">
        UPDATE product_comment_photo
        <trim prefix="SET" suffixOverrides=",">
            <if test="commentId != null ">
                comment_id = #{commentId},
            </if>
            <if test="productId != null ">
                product_id = #{productId},
            </if>
            <if test="url != null  and url != ''">
                url = #{url},
            </if>
            <if test="sort != null ">
                sort = #{sort},
            </if>
            <if test="createUserId != null ">
                create_user_id = #{createUserId},
            </if>
            <if test="createUserName != null  and createUserName != ''">
                create_user_name = #{createUserName},
            </if>
            <if test="createTime != null ">
                create_time = #{createTime},
            </if>
            <if test="updateUserId != null ">
                update_user_id = #{updateUserId},
            </if>
            <if test="updateUserName != null  and updateUserName != ''">
                update_user_name = #{updateUserName},
            </if>
            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>
            <if test="isDel != null ">
                is_del = #{isDel},
            </if>
            update_time=now(3)
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds">
        UPDATE product_comment_photo
        SET is_del =
        1,update_time=now(3),update_user_id=#{entity.updateUserId},update_user_name=#{entity.updateUserName}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="cn.net.mall.product.entity.ProductCommentPhotoEntity">
        INSERT INTO product_comment_photo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="commentId != null ">
                comment_id,
            </if>
            <if test="productId != null ">
                product_id,
            </if>
            <if test="url != null  and url != ''">
                url,
            </if>
            <if test="sort != null ">
                sort,
            </if>
            create_user_id,
            create_user_name,
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{GENERATE_ID},
            <if test="commentId != null ">
                #{commentId},
            </if>
            <if test="productId != null ">
                #{productId},
            </if>
            <if test="url != null  and url != ''">
                #{url},
            </if>
            <if test="sort != null ">
                #{sort},
            </if>
            #{CURRENT_USER_ID},
            #{CURRENT_USER_NAME},
            now(3),
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="cn.net.mall.product.entity.ProductCommentPhotoEntity">
        INSERT INTO product_comment_photo
        (
        id,
        comment_id,
        product_id,
        url,
        sort,
        create_user_id,
        create_user_name,
        create_time,
        is_del
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.commentId},
            #{item.productId},
            #{item.url},
            #{item.sort},
            #{CURRENT_USER_ID},
            #{CURRENT_USER_NAME},
            now(3),
            0
            )
        </foreach>
    </insert>

    <select id="findByIds" parameterType="Long"
            resultMap="ProductCommentPhotoResult">
        SELECT
        <include refid="selectProductCommentPhotoColumn"/>
        FROM product_comment_photo
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
