<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.mall.admin.mapper.auth.UserRoleMapper">

    <resultMap type="cn.net.mall.admin.entity.auth.UserRoleEntity" id="UserRoleResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>


    <sql id="paginationSql">
        <if test="pageSize>0">
            LIMIT #{pageBegin} , #{pageSize}
        </if>
    </sql>

    <sql id="selectUserRoleColumn">
         id,
         user_id,
         role_id
    </sql>

    <sql id="queryWhere">
        <where>

            <if test="id != null ">
                AND id = #{id}
            </if>

            <if test="userId != null ">
                AND user_id = #{userId}
            </if>

            <if test="userIdList != null and userIdList.size()>0">
                AND user_id IN
                <foreach collection="userIdList" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
            </if>

            <if test="roleId != null ">
                AND role_id = #{roleId}
            </if>
        </where>
    </sql>

    <select id="findById" parameterType="Long"
            resultMap="UserRoleResult">
        SELECT
        <include refid="selectUserRoleColumn"/>
        FROM auth_user_role
        WHERE id = #{id}
    </select>

    <select id="searchByCondition"
            parameterType="cn.net.mall.admin.entity.auth.UserRoleConditionEntity"
            resultMap="UserRoleResult">
        SELECT
        <include refid="selectUserRoleColumn"/>
        FROM auth_user_role
        <include refid="queryWhere"/>
        <include refid="paginationSql"/>
    </select>

    <select id="searchCount"
            parameterType="cn.net.mall.admin.entity.auth.UserRoleConditionEntity"
            resultType="int">
        SELECT
        COUNT(*)
        FROM auth_user_role
        <include refid="queryWhere"/>
    </select>


    <update id="update" parameterType="cn.net.mall.admin.entity.auth.UserRoleEntity">
        UPDATE auth_user_role
        <trim prefix="SET" suffixOverrides=",">

            <if test="userId != null ">
                user_id = #{userId},
            </if>


            <if test="roleId != null ">
                role_id = #{roleId},
            </if>

            update_time=now(3)
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM auth_user_role
        WHERE id = #{id}
    </delete>

    <delete id="deleteByUserId">
        DELETE FROM auth_user_role
        WHERE user_id = #{userId}
    </delete>

    <insert id="insert" parameterType="cn.net.mall.admin.entity.auth.UserRoleEntity">
        INSERT INTO auth_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="userId != null ">
                user_id,
            </if>


            <if test="roleId != null ">
                role_id,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{GENERATE_ID},
            <if test="userId != null ">
                #{userId},
            </if>

            <if test="roleId != null ">
                #{roleId},
            </if>

        </trim>
    </insert>

    <insert id="batchInsert" parameterType="cn.net.mall.admin.entity.auth.UserRoleEntity">
        INSERT INTO auth_user_role
        (
          id,
          user_id,
          role_id
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
         (
           #{item.id},
           #{item.userId},
           #{item.roleId}
         )
        </foreach>
    </insert>
</mapper>
