<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.mall.recommend.mapper.ProductFavoritesMapper">

    <resultMap type="cn.net.mall.recommend.entity.ProductFavoritesEntity" id="ProductFavoritesResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="productId" column="product_id"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
    </resultMap>

    <sql id="selectProductFavoritesColumn">
         id,
         user_id,
         product_id,
         create_user_id,
         create_user_name,
         create_time,
         update_user_id,
         update_user_name,
         update_time,
         is_del
    </sql>

    <sql id="queryWhere">
        <where>
            <if test="idList != null and idList.size()>0">
                AND id IN
                <foreach collection="idList" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="createBeginTime != null and createBeginTime !=''">
                AND create_time >= #{createBeginTime}
            </if>

            <if test="createEndTime != null and createEndTime !=''">
                AND create_time <![CDATA[<]]> #{createEndTime}
            </if>
            <if test="id != null ">
                AND id = #{id}
            </if>
            <if test="userId != null ">
                AND user_id = #{userId}
            </if>
            <if test="productId != null ">
                AND product_id = #{productId}
            </if>
            <if test="createUserId != null ">
                AND create_user_id = #{createUserId}
            </if>
            <if test="createUserName != null  and createUserName != ''">
                AND create_user_name = #{createUserName}
            </if>
            <if test="updateUserId != null ">
                AND update_user_id = #{updateUserId}
            </if>
            <if test="updateUserName != null  and updateUserName != ''">
                AND update_user_name = #{updateUserName}
            </if>
            <if test="isDel != null ">
                AND is_del = #{isDel}
            </if>
            AND is_del = 0
        </where>
    </sql>

    <select id="findById" parameterType="Long"
            resultMap="ProductFavoritesResult">
        SELECT
        <include refid="selectProductFavoritesColumn"/>
        FROM product_favorites
        WHERE id = #{id}
    </select>

    <select id="searchByCondition"
            parameterType="cn.net.mall.recommend.entity.ProductFavoritesConditionEntity"
            resultMap="ProductFavoritesResult">
        SELECT
        <include refid="selectProductFavoritesColumn"/>
        FROM product_favorites
        <include refid="queryWhere"/>
        <include refid="cn.net.mall.recommend.mapper.BaseMapper.paginationSql"/>
    </select>

    <select id="searchCount"
            parameterType="cn.net.mall.recommend.entity.ProductFavoritesConditionEntity"
            resultType="int">
        SELECT
        COUNT(*)
        FROM product_favorites
        <include refid="queryWhere"/>
    </select>

    <update id="update" parameterType="cn.net.mall.recommend.entity.ProductFavoritesEntity">
        UPDATE product_favorites
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">
                user_id = #{userId},
            </if>
            <if test="productId != null ">
                product_id = #{productId},
            </if>
            <if test="createUserId != null ">
                create_user_id = #{createUserId},
            </if>
            <if test="createUserName != null  and createUserName != ''">
                create_user_name = #{createUserName},
            </if>
            <if test="createTime != null ">
                create_time = #{createTime},
            </if>
            <if test="updateUserId != null ">
                update_user_id = #{updateUserId},
            </if>
            <if test="updateUserName != null  and updateUserName != ''">
                update_user_name = #{updateUserName},
            </if>
            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>
            <if test="isDel != null ">
                is_del = #{isDel},
            </if>
            update_time=now(3)
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds">
        UPDATE product_favorites
        SET is_del =
        1,update_time=now(3),update_user_id=#{entity.updateUserId},update_user_name=#{entity.updateUserName}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="cn.net.mall.recommend.entity.ProductFavoritesEntity">
        INSERT INTO product_favorites
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="userId != null ">
                user_id,
            </if>
            <if test="productId != null ">
                product_id,
            </if>
            create_user_id,
            create_user_name,
            create_time,
            <if test="updateUserId != null ">
                update_user_id,
            </if>
            <if test="updateUserName != null  and updateUserName != ''">
                update_user_name,
            </if>
            <if test="updateTime != null ">
                update_time,
            </if>
            <if test="isDel != null ">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{GENERATE_ID},
            <if test="userId != null ">
                #{userId},
            </if>
            <if test="productId != null ">
                #{productId},
            </if>
            #{CURRENT_USER_ID},
            #{CURRENT_USER_NAME},
            now(3),
            <if test="updateUserId != null ">
                #{updateUserId},
            </if>
            <if test="updateUserName != null  and updateUserName != ''">
                #{updateUserName},
            </if>
            <if test="updateTime != null ">
                #{updateTime},
            </if>
            <if test="isDel != null ">
                #{isDel},
            </if>
        </trim>
    </insert>

    <select id="findByIds"
            resultMap="ProductFavoritesResult">
        SELECT
        <include refid="selectProductFavoritesColumn"/>
        FROM product_favorites
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
