<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.mall.auth.mapper.auth.DeptMapper">

    <resultMap type="cn.net.mall.auth.entity.auth.DeptEntity" id="DeptResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="pid" column="pid"/>
        <result property="validStatus" column="valid_status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="roleId" column="role_id"/>
    </resultMap>


    <sql id="selectDeptColumn">
         id,
         name,
         pid,
         valid_status,
         create_user_id,
         create_user_name,
         create_time,
         update_user_id,
         update_user_name,
         update_time,
         is_del
    </sql>

    <sql id="queryWhere">
        <where>

            <if test="id != null ">
                AND id = #{id}
            </if>

            <if test="idList != null and idList.size()>0">
                AND id IN
                <foreach collection="idList" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>

            <if test="name != null  and name != ''">
                AND name  LIKE CONCAT ('%',  #{name},'%')
            </if>

            <if test="pid != null ">
                AND pid = #{pid}
            </if>

            <if test="validStatus != null ">
                AND valid_status = #{validStatus}
            </if>

            <if test="createUserId != null ">
                AND create_user_id = #{createUserId}
            </if>

            <if test="createUserName != null  and createUserName != ''">
                AND create_user_name = #{createUserName}
            </if>

            <if test="createTime != null ">
                AND create_time = #{createTime}
            </if>

            <if test="updateUserId != null ">
                AND update_user_id = #{updateUserId}
            </if>

            <if test="updateUserName != null  and updateUserName != ''">
                AND update_user_name = #{updateUserName}
            </if>

            <if test="updateTime != null ">
                AND update_time = #{updateTime}
            </if>

            <if test="isDel != null ">
                AND is_del = #{isDel}
            </if>
            AND is_del = 0
        </where>
    </sql>

    <select id="findById" parameterType="Long"
            resultMap="DeptResult">
        SELECT
        <include refid="selectDeptColumn"/>
        FROM auth_dept
        WHERE id = #{id}
    </select>

    <select id="searchByCondition"
            parameterType="cn.net.mall.auth.entity.auth.DeptConditionEntity"
            resultMap="DeptResult">
        SELECT
        <include refid="selectDeptColumn"/>
        FROM auth_dept
        <include refid="queryWhere"/>
        <include refid="cn.net.mall.auth.mapper.BaseMapper.paginationSql"/>
    </select>

    <select id="findDeptByRoleIdList"
            parameterType="Long"
            resultMap="DeptResult">
        SELECT
          id,
          name,
          pid,
          valid_status,
        FROM auth_dept sd
        INNER JOIN auth_role_dept srd ON sd.id = srd.role_id
        <where>
            srd.role_id IN
            <foreach collection="roleIdList" item="roleId" open="(" close=")" separator=",">
                #{roleId}
            </foreach>
            AND sd.is_del = 0
        </where>
    </select>

    <select id="searchCount"
            parameterType="cn.net.mall.auth.entity.auth.DeptConditionEntity"
            resultType="int">
        SELECT
        COUNT(*)
        FROM auth_dept
        <include refid="queryWhere"/>
    </select>


    <update id="update" parameterType="cn.net.mall.auth.entity.auth.DeptEntity">
        UPDATE auth_dept
        <trim prefix="SET" suffixOverrides=",">

            <if test="name != null  and name != ''">
                name = #{name},
            </if>


            <if test="pid != null ">
                pid = #{pid},
            </if>


            <if test="validStatus != null ">
                valid_status = #{validStatus},
            </if>


            <if test="createUserId != null ">
                create_user_id = #{createUserId},
            </if>


            <if test="createUserName != null  and createUserName != ''">
                create_user_name = #{createUserName},
            </if>


            <if test="createTime != null ">
                create_time = #{createTime},
            </if>


            <if test="updateUserId != null ">
                update_user_id = #{updateUserId},
            </if>


            <if test="updateUserName != null  and updateUserName != ''">
                update_user_name = #{updateUserName},
            </if>


            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>


            <if test="isDel != null ">
                is_del = #{isDel},
            </if>

            update_time=now(3)
        </trim>
        WHERE id = #{id}
    </update>

    <select id="findByIds" parameterType="Long"
            resultMap="DeptResult">
        SELECT
        <include refid="selectDeptColumn"/>
        FROM auth_dept
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <delete id="deleteByIds">
        UPDATE auth_dept
        SET is_del = 1,update_time=now(3),update_user_id=#{deptEntity.updateUserId},update_user_name=#{deptEntity.updateUserName}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="cn.net.mall.auth.entity.auth.DeptEntity">
        INSERT INTO auth_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="name != null  and name != ''">
                name,
            </if>


            <if test="pid != null ">
                pid,
            </if>


            <if test="validStatus != null ">
                valid_status,
            </if>


            <if test="createUserId != null ">
                create_user_id,
            </if>


            <if test="createUserName != null  and createUserName != ''">
                create_user_name,
            </if>


            <if test="createTime != null ">
                create_time,
            </if>


            <if test="updateUserId != null ">
                update_user_id,
            </if>


            <if test="updateUserName != null  and updateUserName != ''">
                update_user_name,
            </if>


            <if test="updateTime != null ">
                update_time,
            </if>


            <if test="isDel != null ">
                is_del,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{GENERATE_ID},
            <if test="name != null  and name != ''">
                #{name},
            </if>

            <if test="pid != null ">
                #{pid},
            </if>

            <if test="validStatus != null ">
                #{validStatus},
            </if>

            <if test="createUserId != null ">
                #{createUserId},
            </if>

            <if test="createUserName != null  and createUserName != ''">
                #{createUserName},
            </if>

            <if test="createTime != null ">
                #{createTime},
            </if>

            <if test="updateUserId != null ">
                #{updateUserId},
            </if>

            <if test="updateUserName != null  and updateUserName != ''">
                #{updateUserName},
            </if>

            <if test="updateTime != null ">
                #{updateTime},
            </if>

            <if test="isDel != null ">
                #{isDel},
            </if>

        </trim>
    </insert>

</mapper>
