<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.mall.pay.mapper.PayRefundMapper">

    <resultMap type="cn.net.mall.pay.entity.PayRefundEntity" id="PayRefundResult">
        <result property="id"    column="id" />
        <result property="refundNo"    column="refund_no" />
        <result property="payOrderId"    column="pay_order_id" />
        <result property="payOrderNo"    column="pay_order_no" />
        <result property="bizOrderNo"    column="biz_order_no" />
        <result property="bizType"    column="biz_type" />
        <result property="userId"    column="user_id" />
        <result property="channelCode"    column="channel_code" />
        <result property="channelRefundNo"    column="channel_refund_no" />
        <result property="refundAmount"    column="refund_amount" />
        <result property="refundFee"    column="refund_fee" />
        <result property="refundReason"    column="refund_reason" />
        <result property="refundType"    column="refund_type" />
        <result property="auditStatus"    column="audit_status" />
        <result property="refundStatus"    column="refund_status" />
        <result property="auditUserId"    column="audit_user_id" />
        <result property="auditUserName"    column="audit_user_name" />
        <result property="auditTime"    column="audit_time" />
        <result property="successTime"    column="success_time" />
        <result property="failReason"    column="fail_reason" />
        <result property="version"    column="version" />
        <result property="createUserId"    column="create_user_id" />
        <result property="createUserName"    column="create_user_name" />
        <result property="createTime"    column="create_time" />
        <result property="updateUserId"    column="update_user_id" />
        <result property="updateUserName"    column="update_user_name" />
        <result property="updateTime"    column="update_time" />
        <result property="isDel"    column="is_del" />
        <result property="remark"    column="remark" />
    </resultMap>


    <sql id="paginationSql">
        <if test="pageSize > 0">
           LIMIT #{pageBegin} , #{pageSize}
        </if>
    </sql>

	<sql id="selectPayRefundColumn">
         id,
         refund_no,
         pay_order_id,
         pay_order_no,
         biz_order_no,
         biz_type,
         user_id,
         channel_code,
         channel_refund_no,
         refund_amount,
         refund_fee,
         refund_reason,
         refund_type,
         audit_status,
         refund_status,
         audit_user_id,
         audit_user_name,
         audit_time,
         success_time,
         fail_reason,
         version,
         create_user_id,
         create_user_name,
         create_time,
         update_user_id,
         update_user_name,
         update_time,
         is_del,
         remark
    </sql>

    <sql id="queryWhere">
        <where>
            
            <if test="id != null ">
                AND id = #{id}
            </if>
            
            <if test="refundNo != null  and refundNo != ''">
                AND refund_no = #{refundNo}
            </if>
            
            <if test="payOrderId != null ">
                AND pay_order_id = #{payOrderId}
            </if>
            
            <if test="payOrderNo != null  and payOrderNo != ''">
                AND pay_order_no = #{payOrderNo}
            </if>
            
            <if test="bizOrderNo != null  and bizOrderNo != ''">
                AND biz_order_no = #{bizOrderNo}
            </if>
            
            <if test="bizType != null  and bizType != ''">
                AND biz_type = #{bizType}
            </if>
            
            <if test="userId != null ">
                AND user_id = #{userId}
            </if>
            
            <if test="channelCode != null  and channelCode != ''">
                AND channel_code = #{channelCode}
            </if>
            
            <if test="channelRefundNo != null  and channelRefundNo != ''">
                AND channel_refund_no = #{channelRefundNo}
            </if>
            
            <if test="refundAmount != null ">
                AND refund_amount = #{refundAmount}
            </if>
            
            <if test="refundFee != null ">
                AND refund_fee = #{refundFee}
            </if>
            
            <if test="refundReason != null  and refundReason != ''">
                AND refund_reason = #{refundReason}
            </if>
            
            <if test="refundType != null ">
                AND refund_type = #{refundType}
            </if>
            
            <if test="auditStatus != null ">
                AND audit_status = #{auditStatus}
            </if>
            
            <if test="refundStatus != null ">
                AND refund_status = #{refundStatus}
            </if>
            
            <if test="auditUserId != null ">
                AND audit_user_id = #{auditUserId}
            </if>
            
            <if test="auditUserName != null  and auditUserName != ''">
                AND audit_user_name = #{auditUserName}
            </if>
            
            <if test="auditTime != null ">
                AND audit_time = #{auditTime}
            </if>
            
            <if test="successTime != null ">
                AND success_time = #{successTime}
            </if>
            
            <if test="failReason != null  and failReason != ''">
                AND fail_reason = #{failReason}
            </if>
            
            <if test="version != null ">
                AND version = #{version}
            </if>
            
            <if test="createUserId != null ">
                AND create_user_id = #{createUserId}
            </if>
            
            <if test="createUserName != null  and createUserName != ''">
                AND create_user_name = #{createUserName}
            </if>
            
            <if test="createTime != null ">
                AND create_time = #{createTime}
            </if>
            
            <if test="updateUserId != null ">
                AND update_user_id = #{updateUserId}
            </if>
            
            <if test="updateUserName != null  and updateUserName != ''">
                AND update_user_name = #{updateUserName}
            </if>
            
            <if test="updateTime != null ">
                AND update_time = #{updateTime}
            </if>
            
            <if test="remark != null  and remark != ''">
                AND remark = #{remark}
            </if>
                        AND is_del = 0
        </where>
    </sql>

    <select id="findById" parameterType="Long"
            resultMap="PayRefundResult">
        SELECT
        <include refid="selectPayRefundColumn"/>
        FROM pay_refund
        WHERE id = #{id} AND is_del = 0
    </select>

    <select id="searchByCondition"
            parameterType="cn.net.mall.pay.entity.PayRefundConditionEntity"
            resultMap="PayRefundResult">
        SELECT
        <include refid="selectPayRefundColumn"/>
        FROM pay_refund
        <include refid="queryWhere"/>
        <include refid="cn.net.mall.pay.mapper.BaseMapper.paginationSql"/>
    </select>

    <select id="searchCount"
            parameterType="cn.net.mall.pay.entity.PayRefundConditionEntity"
            resultType="int">
        SELECT
        COUNT(*)
        FROM pay_refund
        <include refid="queryWhere"/>
    </select>


    <update id="update" parameterType="cn.net.mall.pay.entity.PayRefundEntity">
        UPDATE pay_refund
        <trim prefix="SET" suffixOverrides=",">
                                                        
                    <if test="refundNo != null  and refundNo != ''">
                        refund_no = #{refundNo},
                    </if>

                                            
                    <if test="payOrderId != null ">
                        pay_order_id = #{payOrderId},
                    </if>

                                            
                    <if test="payOrderNo != null  and payOrderNo != ''">
                        pay_order_no = #{payOrderNo},
                    </if>

                                            
                    <if test="bizOrderNo != null  and bizOrderNo != ''">
                        biz_order_no = #{bizOrderNo},
                    </if>

                                            
                    <if test="bizType != null  and bizType != ''">
                        biz_type = #{bizType},
                    </if>

                                            
                    <if test="userId != null ">
                        user_id = #{userId},
                    </if>

                                            
                    <if test="channelCode != null  and channelCode != ''">
                        channel_code = #{channelCode},
                    </if>

                                            
                    <if test="channelRefundNo != null  and channelRefundNo != ''">
                        channel_refund_no = #{channelRefundNo},
                    </if>

                                            
                    <if test="refundAmount != null ">
                        refund_amount = #{refundAmount},
                    </if>

                                            
                    <if test="refundFee != null ">
                        refund_fee = #{refundFee},
                    </if>

                                            
                    <if test="refundReason != null  and refundReason != ''">
                        refund_reason = #{refundReason},
                    </if>

                                            
                    <if test="refundType != null ">
                        refund_type = #{refundType},
                    </if>

                                            
                    <if test="auditStatus != null ">
                        audit_status = #{auditStatus},
                    </if>

                                            
                    <if test="refundStatus != null ">
                        refund_status = #{refundStatus},
                    </if>

                                            
                    <if test="auditUserId != null ">
                        audit_user_id = #{auditUserId},
                    </if>

                                            
                    <if test="auditUserName != null  and auditUserName != ''">
                        audit_user_name = #{auditUserName},
                    </if>

                                            
                    <if test="auditTime != null ">
                        audit_time = #{auditTime},
                    </if>

                                            
                    <if test="successTime != null ">
                        success_time = #{successTime},
                    </if>

                                            
                    <if test="failReason != null  and failReason != ''">
                        fail_reason = #{failReason},
                    </if>

                                            
                    <if test="version != null ">
                        version = #{version},
                    </if>

                                            
                    <if test="createUserId != null ">
                        create_user_id = #{createUserId},
                    </if>

                                            
                    <if test="createUserName != null  and createUserName != ''">
                        create_user_name = #{createUserName},
                    </if>

                                            
                    <if test="createTime != null ">
                        create_time = #{createTime},
                    </if>

                                            
                    <if test="updateUserId != null ">
                        update_user_id = #{updateUserId},
                    </if>

                                            
                    <if test="updateUserName != null  and updateUserName != ''">
                        update_user_name = #{updateUserName},
                    </if>

                                                                        
                    <if test="remark != null  and remark != ''">
                        remark = #{remark},
                    </if>

                                        update_time=now(3)
        </trim>
        WHERE id = #{id} AND is_del = 0
    </update>

    <delete id="deleteByIds">
        UPDATE pay_refund
        SET is_del = 1, update_time=now(3), update_user_id=#{entity.updateUserId}, update_user_name=#{entity.updateUserName}
        WHERE is_del = 0 AND id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="cn.net.mall.pay.entity.PayRefundEntity">
        INSERT INTO pay_refund
        <trim prefix="(" suffix=")" suffixOverrides=",">
            
                    id,

            
                    <if test="refundNo != null  and refundNo != ''">
                        refund_no,
                    </if>

            
                    <if test="payOrderId != null ">
                        pay_order_id,
                    </if>

            
                    <if test="payOrderNo != null  and payOrderNo != ''">
                        pay_order_no,
                    </if>

            
                    <if test="bizOrderNo != null  and bizOrderNo != ''">
                        biz_order_no,
                    </if>

            
                    <if test="bizType != null  and bizType != ''">
                        biz_type,
                    </if>

            
                    <if test="userId != null ">
                        user_id,
                    </if>

            
                    <if test="channelCode != null  and channelCode != ''">
                        channel_code,
                    </if>

            
                    <if test="channelRefundNo != null  and channelRefundNo != ''">
                        channel_refund_no,
                    </if>

            
                    <if test="refundAmount != null ">
                        refund_amount,
                    </if>

            
                    <if test="refundFee != null ">
                        refund_fee,
                    </if>

            
                    <if test="refundReason != null  and refundReason != ''">
                        refund_reason,
                    </if>

            
                    <if test="refundType != null ">
                        refund_type,
                    </if>

            
                    <if test="auditStatus != null ">
                        audit_status,
                    </if>

            
                    <if test="refundStatus != null ">
                        refund_status,
                    </if>

            
                    <if test="auditUserId != null ">
                        audit_user_id,
                    </if>

            
                    <if test="auditUserName != null  and auditUserName != ''">
                        audit_user_name,
                    </if>

            
                    <if test="auditTime != null ">
                        audit_time,
                    </if>

            
                    <if test="successTime != null ">
                        success_time,
                    </if>

            
                    <if test="failReason != null  and failReason != ''">
                        fail_reason,
                    </if>

            
                    <if test="version != null ">
                        version,
                    </if>

            
                    create_user_id,
                    create_user_name,
                    create_time,

            
                    <if test="updateUserId != null ">
                        update_user_id,
                    </if>

            
                    <if test="updateUserName != null  and updateUserName != ''">
                        update_user_name,
                    </if>

            
                    <if test="updateTime != null ">
                        update_time,
         
                    </if>
                    is_del,

            
                    <if test="remark != null  and remark != ''">
                        remark,
                    </if>

                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                #{GENERATE_ID},

                                <if test="refundNo != null  and refundNo != ''">
                        #{refundNo},
                    </if>

                                <if test="payOrderId != null ">
                        #{payOrderId},
                    </if>

                                <if test="payOrderNo != null  and payOrderNo != ''">
                        #{payOrderNo},
                    </if>

                                <if test="bizOrderNo != null  and bizOrderNo != ''">
                        #{bizOrderNo},
                    </if>

                                <if test="bizType != null  and bizType != ''">
                        #{bizType},
                    </if>

                                <if test="userId != null ">
                        #{userId},
                    </if>

                                <if test="channelCode != null  and channelCode != ''">
                        #{channelCode},
                    </if>

                                <if test="channelRefundNo != null  and channelRefundNo != ''">
                        #{channelRefundNo},
                    </if>

                                <if test="refundAmount != null ">
                        #{refundAmount},
                    </if>

                                <if test="refundFee != null ">
                        #{refundFee},
                    </if>

                                <if test="refundReason != null  and refundReason != ''">
                        #{refundReason},
                    </if>

                                <if test="refundType != null ">
                        #{refundType},
                    </if>

                                <if test="auditStatus != null ">
                        #{auditStatus},
                    </if>

                                <if test="refundStatus != null ">
                        #{refundStatus},
                    </if>

                                <if test="auditUserId != null ">
                        #{auditUserId},
                    </if>

                                <if test="auditUserName != null  and auditUserName != ''">
                        #{auditUserName},
                    </if>

                                <if test="auditTime != null ">
                        #{auditTime},
                    </if>

                                <if test="successTime != null ">
                        #{successTime},
                    </if>

                                <if test="failReason != null  and failReason != ''">
                        #{failReason},
                    </if>

                                <if test="version != null ">
                        #{version},
                    </if>

                                #{CURRENT_USER_ID},
                                #{CURRENT_USER_NAME},
                                now(3),

                                <if test="updateUserId != null ">
                        #{updateUserId},
                    </if>

                                <if test="updateUserName != null  and updateUserName != ''">
                        #{updateUserName},
                    </if>

                                <if test="updateTime != null ">
                        #{updateTime},
                    </if>
                                0,

                                <if test="remark != null  and remark != ''">
                        #{remark},
                    </if>

                    </trim>
    </insert>

    <select id="findByIds" parameterType="Long"
            resultMap="PayRefundResult">
        SELECT
          <include refid="selectPayRefundColumn"/>
        FROM pay_refund
        WHERE is_del = 0 AND id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <!-- ============ 对账专用查询 ============ -->

    <!-- 按渠道 + 退款成功时间统计退款总金额和笔数 -->
    <select id="sumByChannelAndSuccessTime" resultType="map">
        SELECT
            COUNT(*) as refund_count,
            COALESCE(SUM(refund_amount), 0) as refund_total_amount
        FROM pay_refund
        WHERE is_del = 0
          AND channel_code = #{channelCode}
          AND refund_status = 2
          AND success_time >= #{startTime}
          AND success_time &lt; #{endTime}
    </select>

</mapper>
