<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.mall.admin.mapper.shopping.DeliveryAddressMapper">

    <resultMap type="cn.net.mall.admin.entity.shopping.DeliveryAddressEntity" id="DeliveryAddressResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="receiverName" column="receiver_name"/>
        <result property="receiverPhone" column="receiver_phone"/>
        <result property="provinceId" column="province_id"/>
        <result property="cityId" column="city_id"/>
        <result property="districtId" column="district_id"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
        <result property="postCode" column="post_code"/>
        <result property="detailAddress" column="detail_address"/>
        <result property="isDefault" column="is_default"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
    </resultMap>


    <sql id="paginationSql">
        LIMIT #{pageBegin} , #{pageSize}
    </sql>

    <sql id="selectDeliveryAddressColumn">
         id,
         user_id,
         receiver_name,
         receiver_phone,
         province_id,
         city_id,
         district_id,
         province,
         city,
         district,
         post_code,
         detail_address,
         is_default,
         create_user_id,
         create_user_name,
         create_time,
         update_user_id,
         update_user_name,
         update_time,
         is_del
    </sql>

    <sql id="queryWhere">
        <where>
            <if test="idList != null and idList.size()>0">
                AND id IN
                <foreach collection="idList" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="createBeginTime != null and createBeginTime !=''">
                AND create_time >= #{createBeginTime}
            </if>

            <if test="createEndTime != null and createEndTime !=''">
                AND create_time <![CDATA[<]]> #{createEndTime}
            </if>
            <if test="id != null ">
                AND id = #{id}
            </if>
            <if test="userId != null ">
                AND user_id = #{userId}
            </if>
            <if test="receiverName != null  and receiverName != ''">
                AND receiver_name = #{receiverName}
            </if>
            <if test="receiverPhone != null  and receiverPhone != ''">
                AND receiver_phone = #{receiverPhone}
            </if>
            <if test="provinceId != null ">
                AND province_id = #{provinceId}
            </if>
            <if test="cityId != null ">
                AND city_id = #{cityId}
            </if>
            <if test="districtId != null ">
                AND district_id = #{districtId}
            </if>
            <if test="province != null  and province != ''">
                AND province = #{province}
            </if>
            <if test="city != null  and city != ''">
                AND city = #{city}
            </if>
            <if test="district != null  and district != ''">
                AND district = #{district}
            </if>
            <if test="postCode != null  and postCode != ''">
                AND post_code = #{postCode}
            </if>
            <if test="detailAddress != null  and detailAddress != ''">
                AND detail_address = #{detailAddress}
            </if>
            <if test="isDefault != null ">
                AND is_default = #{isDefault}
            </if>
            <if test="createUserId != null ">
                AND create_user_id = #{createUserId}
            </if>
            <if test="createUserName != null  and createUserName != ''">
                AND create_user_name = #{createUserName}
            </if>
            <if test="updateUserId != null ">
                AND update_user_id = #{updateUserId}
            </if>
            <if test="updateUserName != null  and updateUserName != ''">
                AND update_user_name = #{updateUserName}
            </if>
            <if test="isDel != null ">
                AND is_del = #{isDel}
            </if>
            AND is_del = 0
        </where>
    </sql>

    <select id="findById" parameterType="Long"
            resultMap="DeliveryAddressResult">
        SELECT
        <include refid="selectDeliveryAddressColumn"/>
        FROM delivery_address
        WHERE id = #{id}
    </select>

    <select id="searchByCondition"
            parameterType="cn.net.mall.admin.entity.shopping.DeliveryAddressConditionEntity"
            resultMap="DeliveryAddressResult">
        SELECT
        <include refid="selectDeliveryAddressColumn"/>
        FROM delivery_address
        <include refid="queryWhere"/>
        <include refid="cn.net.mall.admin.mapper.BaseMapper.paginationSql"/>
    </select>

    <select id="searchCount"
            parameterType="cn.net.mall.admin.entity.shopping.DeliveryAddressConditionEntity"
            resultType="int">
        SELECT
        COUNT(*)
        FROM delivery_address
        <include refid="queryWhere"/>
    </select>


    <update id="update" parameterType="cn.net.mall.admin.entity.shopping.DeliveryAddressEntity">
        UPDATE delivery_address
        <trim prefix="SET" suffixOverrides=",">

            <if test="userId != null ">
                user_id = #{userId},
            </if>


            <if test="receiverName != null  and receiverName != ''">
                receiver_name = #{receiverName},
            </if>


            <if test="receiverPhone != null  and receiverPhone != ''">
                receiver_phone = #{receiverPhone},
            </if>

            <if test="provinceId != null ">
                province_id = #{provinceId},
            </if>
            <if test="cityId != null ">
                city_id = #{cityId},
            </if>
            <if test="districtId != null ">
                district_id = #{districtId},
            </if>
            <if test="province != null  and province != ''">
                province = #{province},
            </if>


            <if test="city != null  and city != ''">
                city = #{city},
            </if>


            <if test="district != null  and district != ''">
                district = #{district},
            </if>


            <if test="postCode != null  and postCode != ''">
                post_code = #{postCode},
            </if>


            <if test="detailAddress != null  and detailAddress != ''">
                detail_address = #{detailAddress},
            </if>


            <if test="isDefault != null ">
                is_default = #{isDefault},
            </if>


            <if test="createUserId != null ">
                create_user_id = #{createUserId},
            </if>


            <if test="createUserName != null  and createUserName != ''">
                create_user_name = #{createUserName},
            </if>


            <if test="createTime != null ">
                create_time = #{createTime},
            </if>


            <if test="updateUserId != null ">
                update_user_id = #{updateUserId},
            </if>


            <if test="updateUserName != null  and updateUserName != ''">
                update_user_name = #{updateUserName},
            </if>


            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>


            <if test="isDel != null ">
                is_del = #{isDel},
            </if>

            update_time=now(3)
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds">
        UPDATE delivery_address
        SET is_del =
        1,update_time=now(3),update_user_id=#{entity.updateUserId},update_user_name=#{entity.updateUserName}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="cn.net.mall.admin.entity.shopping.DeliveryAddressEntity">
        INSERT INTO delivery_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="userId != null ">
                user_id,
            </if>
            <if test="receiverName != null  and receiverName != ''">
                receiver_name,
            </if>
            <if test="receiverPhone != null  and receiverPhone != ''">
                receiver_phone,
            </if>
            <if test="provinceId != null">
                province_id,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="districtId != null">
                district_id,
            </if>
            <if test="province != null  and province != ''">
                province,
            </if>
            <if test="city != null  and city != ''">
                city,
            </if>
            <if test="district != null  and district != ''">
                district,
            </if>
            <if test="postCode != null  and postCode != ''">
                post_code,
            </if>
            <if test="detailAddress != null  and detailAddress != ''">
                detail_address,
            </if>
            <if test="isDefault != null ">
                is_default,
            </if>
            create_user_id,
            create_user_name,
            create_time,
            <if test="updateUserId != null ">
                update_user_id,
            </if>
            <if test="updateUserName != null  and updateUserName != ''">
                update_user_name,
            </if>
            <if test="updateTime != null ">
                update_time,
            </if>
            <if test="isDel != null ">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{GENERATE_ID},
            <if test="userId != null ">
                #{userId},
            </if>
            <if test="receiverName != null  and receiverName != ''">
                #{receiverName},
            </if>
            <if test="receiverPhone != null  and receiverPhone != ''">
                #{receiverPhone},
            </if>
            <if test="provinceId != null">
                #{provinceId},
            </if>
            <if test="cityId != null">
                #{cityId},
            </if>
            <if test="districtId != null">
                #{districtId},
            </if>
            <if test="province != null  and province != ''">
                #{province},
            </if>
            <if test="city != null  and city != ''">
                #{city},
            </if>
            <if test="district != null  and district != ''">
                #{district},
            </if>
            <if test="postCode != null  and postCode != ''">
                #{postCode},
            </if>
            <if test="detailAddress != null  and detailAddress != ''">
                #{detailAddress},
            </if>
            <if test="isDefault != null ">
                #{isDefault},
            </if>
            #{CURRENT_USER_ID},
            #{CURRENT_USER_NAME},
            now(3),
            <if test="updateUserId != null ">
                #{updateUserId},
            </if>
            <if test="updateUserName != null  and updateUserName != ''">
                #{updateUserName},
            </if>
            <if test="updateTime != null ">
                #{updateTime},
            </if>
            <if test="isDel != null ">
                #{isDel},
            </if>
        </trim>
    </insert>

    <select id="findByIds" parameterType="Long"
            resultMap="DeliveryAddressResult">
        SELECT
        <include refid="selectDeliveryAddressColumn"/>
        FROM delivery_address
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <update id="updateForBatch" parameterType="cn.net.mall.admin.entity.shopping.DeliveryAddressEntity">
        <foreach collection="list" item="entity" separator=";">
            UPDATE delivery_address
            SET is_default = #{entity.isDefault},update_user_id=#{entity.updateUserId},update_user_name=#{entity.updateUserName}
            <where>
                id = #{entity.id}
            </where>
        </foreach>
    </update>
</mapper>
